* {
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family:Verdana;
    height: 100vh;
    width: 100%;
    background-image: url(./assets/T622-ocre-jaune-A4.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}


.navbar{
    position: absolute;
    padding: 40px 50px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    background-color:white;

}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}

.navbar a {
    color:rgb(105, 67, 165);
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 25px;
    font-weight: 600;
    font-size:x-large;
}

.navbar .nav-links ul li.active a{
    color: rgb(173, 151, 76);
    font-weight: 600;
    
}

li a:hover{
    background-color: black;
    opacity: 0.9;
}

.burger{
    width:42px;
    height:24px;
    cursor:pointer;
    position: relative;
}

.burger span{
    width: 100%;
    height: 4px;
    background-color: black;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}    

.burger span::before, .burger span::after{
    content:"";
    position:absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    transition: transform 0.5s ease-in-out;
}

.burger span::before{
    transform: translateY(-10px) rotateZ(0deg);
}

.burger span::after{
    transform: translateY(10px) rotateZ(0deg);
}

.burger.active span{
    background-color:transparent;
}

.burger.active span::before{
    transform: translateY(0px) rotateZ(45deg);
}

.burger.active span::after{
    transform: translateY(0px) rotateZ(-45deg);
}



